@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0px;
  background-color: rgb(24, 24, 24);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.appear {
  animation: appear 0.3s ease-out forwards;
}

.disappear {
   animation: disappear 0.3s ease-out forwards;
}

.name span:nth-child(1),
.name span:nth-child(2),
.name span:nth-child(3),
.name span:nth-child(4),
.name span:nth-child(5),
.name span:nth-child(6),
.name span:nth-child(10),
.name span:nth-child(11),
.name span:nth-child(12),
.name span:nth-child(13){
  animation: down-in 0.5s forwards;
  pointer-events: none;
}

.name:hover span:nth-child(1),
.name:hover span:nth-child(2),
.name:hover span:nth-child(3),
.name:hover span:nth-child(4),
.name:hover span:nth-child(5),
.name:hover span:nth-child(6),
.name:hover span:nth-child(10),
.name:hover span:nth-child(11),
.name:hover span:nth-child(12),
.name:hover span:nth-child(13){
  animation: out-up 0.5s forwards;
  pointer-events: none;
}

@keyframes out-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes down-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.stick {
  position: sticky;
  top: 5vh;
}
